.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background-color: #00000050;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 30%;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}

.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-modal {
  background-color: var(--purple);
  color: var(--white);
  width: 60%;
  height: 55px;
  border-radius: 8px;
  border: none;
  font-family: "Roboto", sans-serif;
  margin-top: 16px;
  transition: 0.5s;
}

.button-modal:hover {
  filter: brightness(1.5);
}

.modal-input {
  margin-bottom: 15px;
}
